---
title: "@Pay | Developer Docs"
---



%h1.title 2click.js || API Reference

%p.desc Once 2click.js is installed on a webpage, an 'atpay' object becomes available. The page lists all the methods available on 'atpay' object and how they can be used.

%hr

  .tabs.refblock
    %h3.tab_title <span><strong>atpay.config(settings)</strong></span>
    %ul.lang-nav
      %li.TabA
        %a{:href => "#TabA"} Example
      %li.TabB.active
        %a{:href => "#TabB"} Arguments
    #TabA.tab_cont.first{:style => "display: none;"}
      :code
        # lang: html
            <script type="text/javascript">
                    $(function( ){
                          atpay.config( {
                            organization_sid:    "xxx-xxx-xxx",
                            default_gateway:    "xxx-xxx-xxx",
                            test_mode:                  false
                          } );
                    });
            </script>
    #TabB.tab_cont{:style => "display: block;"}
      %table.args
        %thead
          %tr
            %th{:style => "text-align: left"} Attribute
            %th{:style => "text-align: left"} Description
        %tbody
          %tr
            %td{:style => "text-align: left"} organization_sid
            %td{:style => "text-align: left"} The Organization SID found in your Orgnaization Dashboard under 'API Settings'
          %tr
            %td{:style => "text-align: left"} default_gatway
            %td{:style => "text-align: left"} The SID of the Gateway that you want to assign to all Offers to (optional)
          %tr
            %td{:style => "text-align: left"} test_mode
            %td{:style => "text-align: left"} Creates all Invoices and Offers with a test Gateway. Will take precedence over any other gateway configuration. (optional)
