---
title: "@Pay | Developer Docs"
---



%h1.title RESTful API || Transaction Reporting

%p.desc The Transaction Reporting endpoint of the @Pay RESTful API allows you to retrieve information on completed transactions.

%hr

.section#configuration
  %h2.title Authentication
  %p Authentication is done with HTTP Token Authenication using an organization's @Pay private key. This can be found by logging into the organization's @Pay dashboard and navigating to the 'API Settings' page, which is found under 'Settings' in the main menu in the upper right of the dashboard. Also note that the private key must be <a href="https://en.wikipedia.org/wiki/Percent-encoding">percent/URL encoded</a>.

  %h2.title Operations
  %p 
  .tabs.refblock
    %h3.tab_title Retrieve transactions
    %ul.lang-nav
      %li.TabA
        %a{:href => "#TabA"} Request
      %li.TabB
        %a{:href => "#TabB"} Request Parameters
      %li.TabC
        %a{:href => "#TabC"} Response      
      %li.TabD
        %a{:href => "#TabD"} Response Fields          
    #TabA.tab_cont.first{:style => "display: none;"}
      :code
        # lang: bash
          curl -H 'Authorization: Token token=$ORGANIZATION_PRIVATE_KEY' \
          https://dashboard.atpay.com/api/v4/rest/organizations/$ORGANIZATION_SID/\
          transactions?limit=$LIMIT&after=$AFTER
    #TabB.tab_cont{:style => "display: block;"}
      %table.args
        %thead
          %tr
            %th{:style => "text-align: left"} Attribute
            %th{:style => "text-align: left"} Description
        %tbody
          %tr
            %td{:style => "text-align: left"} ORGANIZATION_PRIVATE_KEY
            %td{:style => "text-align: left"} The organization's URL encoded private key found in the organization's dashboard under 'Settings' -> 'API Settings'.
          %tr
            %td{:style => "text-align: left"} ORGANIZATION_SID
            %td{:style => "text-align: left"} The SID of the organization. Found in the organization's dashboard under 'Settings' -> 'API Settings'. Should begin with 'org_'.
          %tr
            %td{:style => "text-align: left"} LIMIT (optional)
            %td{:style => "text-align: left"} An integer indicating the number of transactions you'd like to retrieve. If this is not provided, all transactions will be returned.
          %tr
            %td{:style => "text-align: left"} AFTER (optional)
            %td{:style => "text-align: left"} A Unix timestamp. If provided, only transactions that occurred after the timestamp will be returned. 
    #TabC.tab_cont{:style => "display: none;"}
      :code
        # lang: json
          [  
              ...
             {  
                "id":"956DB5AC-A9D5-5664-A9D2-9657926023BB",
                "date":"2016-07-14T15:16:47-06:00",
                "timestamp":1440857807,
                "offer_name":"Payment of $5.00 to Your Organization",
                "email":"donor@gmail.com",
                "amount":"5.0",
                "net_amount":"4.9",
                "status":"Successful"
             }
             ...
          ]    
    #TabD.tab_cont{:style => "display: block;"}
      %table.args
        %thead
          %tr
            %th{:style => "text-align: left"} Field
            %th{:style => "text-align: left"} Description
        %tbody
          %tr
            %td{:style => "text-align: left"} id
            %td{:style => "text-align: left"} A string that uniquely identifies this transaction in @Pay's system. 
          %tr
            %td{:style => "text-align: left"} date
            %td{:style => "text-align: left"} A formatted timestamp of when this transaction was created.
          %tr
            %td{:style => "text-align: left"} timestamp
            %td{:style => "text-align: left"} A Unix timestamp of when this transaction was created.
          %tr
            %td{:style => "text-align: left"} offer_name
            %td{:style => "text-align: left"} A written description of the transaction. Often takes the format of "Payment of $X.XX to ORGANIZATION_NAME".            
          %tr
            %td{:style => "text-align: left"} email
            %td{:style => "text-align: left"} The email address associated with thsi transaction.
          %tr
            %td{:style => "text-align: left"} amount
            %td{:style => "text-align: left"} A floating point representation of the amount of this transaction in dollars. 
          %tr
            %td{:style => "text-align: left"} net_amount
            %td{:style => "text-align: left"} A floating point representation of the amount of this transaction in dollars less any processing fees.
          %tr
            %td{:style => "text-align: left"} status
            %td{:style => "text-align: left"} The status of this transaction. Can be either "Successful", meaning the transaction was processed without problems, "Failed", meaning we were able to process the transaction, often because of card issues (such as a decline), or "Further Action Required", meaning we required additional information to process the transaction (such as a payment method) and never received it.               
  %h2.title Batching
  %p Transactions are returned in ascending chronological order, so transactions can be retrieved in batches by first making a request specifying only a LIMIT parameter and then, for future transactions, specifying an AFTER paramter of n + 1, where n is the timestamp of the last transaction you have received. 
  %h2.title Polling
  %p A similar method can be used for polling the API for new transactions. Simply use an AFTER parameter of n + 1, where n is the timestamp of the last transaction you have on record.