/* line 3, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
* {
  margin: 0;
  padding: 0;
  color: #4c515f;
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  -webkit-font-feature-settings: "kern", "liga", "pnum"; }

/* line 12, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight {
  overflow: scroll; }

/* line 16, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.tab_title span {
  font-size: 16px !important; }

/* line 21, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
strong {
  font-weight: 500;
  font-family: sans-serif; }

/* line 27, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
p.hooks {
  margin-bottom: 0px; }

/* line 31, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
html {
  height: 100%; }

/* line 35, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
body {
  font-family: sans-serif;
  height: 100%; }

/* line 40, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.clear {
  clear: both; }

/* line 42, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
#header {
  width: 100%;
  background-color: #2d7d97;
  box-shadow: 0 0px 3px rgba(0, 0, 2, 0.6);
  -moz-box-shadow: 0 0px 3px rgba(0, 0, 2, 0.6);
  -webkit-box-shadow: 0 0px 3px rgba(0, 0, 2, 0.6);
  height: 60px;
  top: 0;
  position: fixed;
  z-index: 999999;
  font-size: 8px;
  color: #fff; }
  /* line 55, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
  #header h1.logo {
    padding-left: 20px;
    line-height: 60px;
    font-weight: bold; }
    /* line 59, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
    #header h1.logo span {
      color: #ffffff !important; }
    /* line 60, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
    #header h1.logo img {
      margin-top: 10px;
      height: 40px;
      float: left;
      margin-right: 10px; }

/* line 69, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
#body {
  height: 100%; }

/* line 73, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.content {
  padding-top: 60px; }

/* line 78, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
#content {
  float: left;
  position: relative;
  z-index: 9999;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
  height: 100%;
  overflow-y: scroll;
  width: 100%;
  max-width: 72%; }
  /* line 87, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
  #content .content {
    width: 75%;
    margin: 50px auto;
    max-width: 850px; }

/* line 94, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
#sidebar {
  background-image: url("../images/background.png");
  float: left;
  width: 27%;
  max-width: 500px;
  height: 100%;
  overflow-y: scroll;
  font-size: 18px; }
  /* line 103, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
  #sidebar .content {
    width: 75%;
    margin: 50px auto; }

/* line 109, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
ul#main_nav {
  font-family: "Lato"; }
  /* line 111, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
  ul#main_nav ul li {
    font-weight: normal;
    font-family: sans-serif;
    font-size: 16px; }
  /* line 117, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
  ul#main_nav li {
    list-style: none;
    line-height: 40px;
    font-weight: 600; }
  /* line 122, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
  ul#main_nav ul {
    padding-left: 10px;
    margin-bottom: 15px; }
  /* line 124, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
  ul#main_nav a {
    text-decoration: none;
    color: #444444;
    display: block; }
  /* line 131, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
  ul#main_nav a:hover, ul#main_nav a.active, ul#main_nav a:active {
    color: #2c7d97; }

/* line 137, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
p.desc {
  margin-top: -10px;
  font-family: lato;
  color: #333333;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 1em;
  line-height: 1.3em; }

/* line 148, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
table.cards {
  margin: 20px;
  border: 1px solid #333;
  padding: 5px;
  margin: 20px auto; }
  /* line 150, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
  table.cards th {
    background-color: #77A7B9;
    color: #fff; }
  /* line 154, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
  table.cards td, table.cards th {
    margin: 0 auto;
    border: 1px solid #333;
    padding: 5px; }

/* line 166, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
strong {
  font-weight: 900; }

/* line 168, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
h1, h2, h3, h4, h5 {
  font-family: Lato;
  color: #444444; }

/* line 173, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
hr {
  margin-bottom: 30px; }

/* line 175, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
h1.title {
  margin-bottom: 20px; }

/* line 179, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
h2.title {
  margin-top: 20px;
  margin-bottom: 5px; }

/* line 184, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
img.full_image {
  width: 80%;
  display: block;
  margin: 20px auto 20px;
  box-shadow: 0 0px 3px rgba(0, 0, 2, 0.6); }

/* line 191, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
p {
  margin-bottom: 40px;
  line-height: 25px;
  font-size: 16px; }

/* line 199, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.tabs h3.tab_title {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  display: inline !important;
  float: left;
  line-height: 20px !important;
  font-size: 18px;
  font-style: oblique; }

/* line 211, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
table {
  margin: 20px;
  border: 1px solid #333;
  padding: 5px;
  margin: 20px auto; }

/* line 213, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.tabs h3 {
  display: inline !important;
  margin-left: 3px;
  line-height: 60px;
  font-size: 15px; }

/* line 215, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.tabs h4 {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 20px; }

/* line 217, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.tabs {
  width: 90%; }

/* line 221, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.tabs table {
  width: 100%;
  margin: 0 auto; }

/* line 225, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
table td, table th {
  margin: 0 auto;
  border: 1px solid #333;
  padding: 5px; }

/* line 227, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
table th {
  background-color: #77A7B9;
  color: #fff; }

/* line 229, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
table td {
  background-color: #fff; }

/* line 232, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
table.time td {
  border: 1px solid #000 !important;
  text-align: center; }

/* line 233, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
table.time th {
  background-color: #77A7B9 !important;
  color: #fff !important;
  padding-right: 15px;
  padding-left: 5px;
  text-align: left; }

/* line 235, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.tab_cont p {
  margin-bottom: 10px; }

/* line 239, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.tabs {
  font-size: 100% !important;
  margin: 0px auto !important;
  padding: 0;
  margin-top: -15px !important;
  margin-bottom: 40px !important; }

/* line 247, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.tabs h3 {
  margin-top: 0px !important;
  font-weight: 400 !important; }

/* line 252, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.tabs ul.lang-nav {
  float: right;
  background: #fff;
  padding-top: 0px;
  margin: 0;
  margin-right: 15px;
  margin-bottom: 0 !important;
  margin-top: 0px;
  margin-right: 0px;
  padding-left: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: -1px !important; }

/* line 264, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.tabs ul.lang-nav li, .tabs ul.lang-nav li a {
  float: left;
  list-style: none !important;
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-bottom: 0 !important;
  margin-top: 0px !important; }

/* line 276, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.tabs ul.lang-nav li a {
  padding-top: 7px;
  color: #fff;
  background-color: #77A7B9;
  padding-bottom: 2px !important;
  border: 1px solid #c0c0c0;
  border-bottom: 0px; }

/* line 286, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.tabs ul.lang-nav li {
  margin-left: 10px !important; }

/* line 288, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.tabs ul.lang-nav li:first-child {
  margin-left: 0px !important; }

/* line 290, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.tabs ul li.active, .tabs ul li:hover {
  text-decoration: none; }

/* line 292, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.tabs ul li.active a, .tabs ul li:hover a {
  color: #77A7B9;
  background-color: #ededed; }

/* line 298, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.tabs div.tab_cont {
  background: #ededed;
  clear: both;
  padding: 15px;
  border: 1px solid #c0c0c0; }

/* line 305, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.tabs ul li a {
  text-decoration: none;
  padding: 8px;
  color: #000;
  font-weight: normal;
  font-size: 14px !important; }

/* line 314, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight table {
  padding: 15px !important;
  background-color: #3e3e3e; }

/* line 316, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight table td {
  background-color: #3e3e3e;
  vertical-align: top;
  line-height: 1.5em; }

/* line 317, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .gutter pre {
  padding-right: 0px;
  color: #696969 !important; }

/* line 320, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight code, .highlight pre {
  color: #c5c5c5;
  background-color: #3f3f3f; }

/* line 322, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight * {
  margin-left: 0 !Important;
  padding-left: 0px !important;
  text-indent: 0px !important; }

/* line 325, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .hll {
  background-color: #222; }

/* line 326, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .c {
  color: #7f9f7f; }

/* line 327, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .err {
  color: #e37170;
  background-color: #3d3535; }

/* line 328, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .g {
  color: #7f9f7f; }

/* line 329, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .k {
  color: #f0dfaf; }

/* line 330, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .l {
  color: #ccc; }

/* line 331, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .n {
  color: #dcdccc; }

/* line 332, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .o {
  color: #f0efd0; }

/* line 333, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .x {
  color: #ccc; }

/* line 334, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .p {
  color: #ba96bd; }

/* line 335, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .cm {
  color: #7f9f7f; }

/* line 336, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .cp {
  color: #7f9f7f; }

/* line 337, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .c1 {
  color: #7f9f7f; }

/* line 338, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .cs {
  color: #cd0000;
  font-weight: bold; }

/* line 339, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .gd {
  color: #cd0000; }

/* line 340, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .ge {
  color: #ccc;
  font-style: italic; }

/* line 341, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .gr {
  color: red; }

/* line 342, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .gh {
  color: #dcdccc;
  font-weight: bold; }

/* line 343, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .gi {
  color: #00cd00; }

/* line 344, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .go {
  color: gray; }

/* line 345, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .gp {
  color: #dcdccc;
  font-weight: bold; }

/* line 346, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .gs {
  color: #ccc;
  font-weight: bold; }

/* line 347, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .gu {
  color: purple;
  font-weight: bold; }

/* line 348, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .gt {
  color: #0040D0; }

/* line 349, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .kc {
  color: #dca3a3; }

/* line 350, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .kd {
  color: #ffff86; }

/* line 351, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .kn {
  color: #dfaf8f;
  font-weight: bold; }

/* line 352, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .kp {
  color: #cdcf99; }

/* line 353, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .kr {
  color: #cdcd00; }

/* line 354, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .kt {
  color: #00cd00; }

/* line 355, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .ld {
  color: #cc9393; }

/* line 356, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .m {
  color: #8cd0d3; }

/* line 357, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .s {
  color: #cc9393; }

/* line 358, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .na {
  color: #9ac39f; }

/* line 359, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .nb {
  color: #efef8f; }

/* line 360, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .nc {
  color: #efef8f; }

/* line 361, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .no {
  color: #ccc; }

/* line 362, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .nd {
  color: #ccc; }

/* line 363, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .ni {
  color: #c28182; }

/* line 364, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .ne {
  color: #c3bf9f;
  font-weight: bold; }

/* line 365, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .nf {
  color: #efef8f; }

/* line 366, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .nl {
  color: #ccc; }

/* line 367, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .nn {
  color: #8fbede; }

/* line 368, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .nx {
  color: #ccc; }

/* line 369, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .py {
  color: #ccc; }

/* line 370, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .nt {
  color: #9ac39f; }

/* line 371, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .nv {
  color: #dcdccc; }

/* line 372, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .ow {
  color: #f0efd0; }

/* line 373, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .w {
  color: #ccc; }

/* line 374, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .mf {
  color: #8cd0d3; }

/* line 375, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .mh {
  color: #8cd0d3; }

/* line 376, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .mi {
  color: #8cd0d3; }

/* line 377, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .mo {
  color: #8cd0d3; }

/* line 378, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .sb {
  color: #cc9393; }

/* line 379, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .sc {
  color: #cc9393; }

/* line 380, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .sd {
  color: #cc9393; }

/* line 381, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .s2 {
  color: #cc9393; }

/* line 382, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .se {
  color: #cc9393; }

/* line 383, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .sh {
  color: #cc9393; }

/* line 384, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .si {
  color: #cc9393; }

/* line 385, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .sx {
  color: #cc9393; }

/* line 386, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .sr {
  color: #cc9393; }

/* line 387, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .s1 {
  color: #cc9393; }

/* line 388, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .ss {
  color: #cc9393; }

/* line 389, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .bp {
  color: #efef8f; }

/* line 390, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .vc {
  color: #efef8f; }

/* line 391, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .vg {
  color: #dcdccc; }

/* line 392, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .vi {
  color: #ffffc7; }

/* line 393, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
.highlight .il {
  color: #8cd0d3; }

/* line 397, /Users/pw/Documents/@Pay/atpay_docs/source/stylesheets/all.scss */
h1, h2, h3, h4 {
  font-weight: normal;
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  /* font-weight: normal; */
  line-height: 1.25;
  margin-bottom: 0.3em; }
