---
title: "@Pay | Developer Docs - Organization Dashboard"
---

%h1.title API Config
%p.desc
  You can view and configure API settings in the Organization Dashboard under "Developer Tools".

%hr

%h2.title API Keys and Authorized Domain
= image_tag "api_keys.png", class: "full_image"

%p
  %strong
    Organization ID:
  Used to configure the JavaScript SDK and create sessions in other @Pay wrappers.

%p
  %strong
    Authorized Domain:
  Used to authenticate your applications with the JavaScript SDK and other @Pay wrappers. Separate multiple domains with a comma.


%p
  %strong
    Public/Private Keys:
  Used to verify response signatures and used for authentication for different APIs.


  %p
    %strong
      JavaScript Snippet:
    Ready-to-use snippet for JavaScript SDK configuration.
