---
title: "@Pay | Developer Docs - Organization Dashboard"
---

%h1.title Customers & List Segmentation
%p.desc We offer an export of 2-Click enabled customers or your organization under "Offers & Transactions" in your Organization Dashboard.
%hr

= image_tag "customer_list.png", class: "full_image"

%h2.title List Segmentation
%p Only customers that have registered thier payment method through a Payment Capture Page will be 2-Click enabled. A customer will receive a FAR email with a link to the Payment Capture Page if they are NOT 2-Click enabled. An option that will prevent abandonment in this case is email list segemntatoin. To prevent FAR's from occuring you can send prospective customers links directly to the Payment Capture Page instead of the @Pay Mail-To. You can use the exported Customer List from your Dashboard or configure a hook to update your mailing lists.
