---
title: "@Pay | Developer Docs - Organization Dashboard"
---

%h1.title Customers & List Segmentation
%p.desc We offer an export of 2-Click Enabled customers for your organization under "Offers & Transactions" in your Organization Dashboard.
%hr

= image_tag "customer_list.png", class: "full_image"

%h2.title List Segmentation
%p Only customers that have registered their payment method through a Payment Capture Page will be 2-Click Enabled. Customers will receive a FAR email with a link to the Payment Capture Page if they are NOT 2-Click Enabled. Email segmentation is an option that will help prevent abandonment in this case. To prevent FAR's from occurring, you can send prospective customers a link directly to the Payment Capture Page instead of the @Pay Mailto. To do this, you can use the exported Customer List from your Dashboard or configure a hook to update your mailing lists.
