---
title: "@Pay | Developer Docs - Organization Dashboard"
---

%h1.title Your Organization Dashboard

%p.desc
  Every organization is provided with dashboard access. Here you can track your incoming transactions, create @Pay Offers and Buttons, adjust receipt settings and and configure API access. You can acess your organization's dashboard at #{link_to "dashboard.atpay.com", "https://dashboard.atpay.com"}.
%hr

= image_tag "dashboard.png", class: "full_image"

%h2.title Dashboard Users
%p Once logged in, you can create additional User accounts to access various tools in your Organization's Dashboard. There are three "user types" each with different permissions. These include 'Owner', 'Marketer', and 'Developer'.
