---
title: "@Pay | Developer Docs - Organization Dashboard"
---

%h1.title Managing Gateways
%p.desc
  The @Pay payment platform works with almost 90 payment gateways. You can add your merchant account under "Manage Gateways" in the Organization Dashboard.

%hr

%h2.title Test Gateways
%p Every organization is configured with one test gateway for development and test transactions. If you want to create an offer with a test gateway, you must explicitly set it in the Offer Generator or with one of the API wrappers.

%h2.title Default Gateway
%p If you have more than one live Gateway configured (and a Gateway is not explicitly set for an offer or configured in an @Pay SDK), then the default Gateway will be used to process the transaction.

%h2.title Deleting a Gateway
%p We do not offer the ability to completely remove a Gateway once configured. You can, however, deactivate the gateway. Any offer that was configured with a gateway that has been deactivated will return a general error to a customer when a transaction is attempted.
