---
title: "@Pay | Developer Docs - Organization Dashboard"
---

%h1.title Configure Receipts & Messaging
%p.desc You can configure your Receipt and Messaging settings in the Organization Dashboard. You can upload your logo here, turn on and off email notifications and set your email color scheme.

%hr

%h2.title Template Colors
= image_tag "template_colors.png", class: "full_image"
%p This will configure the color scheme for emails that @Pay sends on your organization's behalf. @Pay hosted Payment Capture Pages will also use this color scheme.

%h2.title Sender Settings
= image_tag "sender_settings.png", class: "full_image"

%p
  %strong
    Reply-To Address:
  This is the "From" address used by @Pay when we send email on your organization's behalf. This address will also appear in contact information below email messages and on Payment Capture Pages.

%p
  %strong
    Service Phone Number:
  This number will appear in the contact information below email messages and on Payment Capture Pages.
%p
  %strong
    Support Website:
  This URL will appear in the contact information below email messages and on Payment Capture Pages.

%p
  %strong
    Organization / DBA Name / Reply-To:
  This name will appear in your emails when referring to your organization. This name will also be a part of the "From" field in emails sent from @Pay.


%h2.title Message Settings
= image_tag "message_settings.png", class: "full_image"
%p If your organization has been vetted and verified by @Pay, you can control which emails we send out. If you choose to not use @Pay messaging, you can use our hooks to send your own messaging. If you would like to have this feature enabled, please contact us at sales@atpay.com.
