---
title: "@Pay | Developer Docs - Organization Dashboard"
---

%h1.title API Hook Configuration
%p.desc
  You can view and configure @Pay Web Hooks in the Organization Dashboard under "Developer Tools".

%hr

= image_tag "api_hooks.png", class: "full_image"
%p We offer four types of hooks: 'Pre-Sale', 'Transaction', 'Error' & 'Further Action Required'. Depending on the hook type, these will send information to your application when specific events occur during a transaction.
